@charset "UTF-8";
body{
    background-color: rgb(197, 197, 197);
    font-family: 'Courier New', Courier, monospace;
}
main{
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    max-width: 1000px;
    background-color: rgb(247, 247, 247);
    padding: 1rem;
    text-align: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, .3);
    border-radius: 8px;
}
h1{
    text-align: center;
    letter-spacing: 2px;
    color: rgb(37, 37, 37);
}
#calculadora{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 0px auto;
    align-items: center;
}
#n1, #n2{
    height: 1.5rem;
    width: 76%;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 8px;
    margin: 1rem auto;
}
#operadores{
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
}
#btn-calcular{
    background-color: rgb(0, 155, 0);
    border: 1px solid rgba(0, 128, 0, .7);
    border-radius: 8px;
    color: #fff;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .4);
    height: 1.8rem;
    width: 76%;
    cursor: pointer;
}
#btn-calcular:hover{
    background-color: rgb(0, 135, 0);
    color: rgb(235, 235, 235);
}
footer{
    text-align: center;
}
#creator{
    color: rgb(0, 202, 252);
    text-decoration: none;
    font-size: 1.1em;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, .3);
}
#creator:hover{
    color: rgb(0, 162, 212);
}
@media (max-width: 800px) {
    #n1, #n2, #btn-calcular{
        width: 90%;
    }
}